* {
	box-sizing: border-box;
}

/* header style */
header {
	width: 100%;
	height: 5rem;
	background-color: rgb(246, 246, 246);
	box-shadow: black 5px 2px 7px;
	clear: both;
	overflow: hidden;
}

header img {
	height: 5rem;
	width: 9rem;
	margin-left: 3rem;
}

header nav {
	float: right;
}

header a {
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a:hover {
	color: gray;
}

header li {
	display: inline-block;
	margin: 1.8rem 4rem;
}

/* end of header style */

/* main style */
main {
	clear: both;
}

main a {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
	color: indianred;
	text-align: center;
	display: block;
	margin: 2rem;
	display: block;
	clear: both;
	background-color: rgba(62, 52, 196, 0.178);
	padding: 1rem;
	width: 7rem;
	float: right;
}

main a:hover {
	color: black;
	outline: 0.3rem solid black;
	offset: 3rem;
}

main h2 {
	width: 30rem;
	font-size: 3rem;
	font-family: 'Courier New', Courier, monospace;
	margin: 8rem auto;
	padding: 3rem;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.404);
	border-radius: 50px;
}

#aboutMe {
	clear: both;
}

#aboutMe p {
	clear: both;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.2rem;
	display: inline-block;
	margin-top: 3rem;
	line-height: 2rem;
}

#aboutMe img {
	float: left;
	margin-left: 10rem;
	margin-right: 3rem;
	border-radius: 3rem;
	background-color: black;
}

#aboutMe img:hover {
	opacity: 0.6;
}

main h3 {
	margin: 0 2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

main .list {
	overflow: hidden;
	clear: both;
	margin: 12rem 7rem 7rem 7rem;
	padding: 2rem;
	background-color: rgba(126, 26, 126, 0.178);
	border-radius: 2rem;
}

main .hobbies {
	float: left;
	list-style-type: decimal;
}

main .hobbies li {
	margin: 1rem 4rem;
	font-size: 1.2rem;
}

main .edu {
	float: left;
	list-style-type: disc;
	margin-left: 20rem;
}

main .edu li {
	margin: 1rem 4rem;
	font-size: 1.2rem;
}

/* end of main style */

/* footer style */
footer {
	clear: both;
	margin-top: 5rem;
}

footer h2 {
	width: 30rem;
	font-size: 3rem;
	font-family: 'Courier New', Courier, monospace;
	margin: 11rem auto 6rem;
	padding: 3rem;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.404);
	border-radius: 50px;
}

#contactMe {
	width: 60rem;
	margin: 5rem auto;
}

#contactMe form {
	background-color: rgba(126, 26, 126, 0.178);
	padding: 3rem;
	border-radius: 3rem;
}

input,
label,
textarea,
button {
	display: block;
	margin: 1rem auto;
	text-align: center;
	padding: 0.5rem;
	font-size: large;
	border-radius: 0.5rem;
	cursor: pointer;
}

#contactMe form label {
	font-weight: bold;
	font-size: 1.2rem;
	cursor: default;
}

footer a {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
	color: indianred;
	text-align: center;
	display: block;
	margin: 2rem;
	display: block;
	clear: both;
	background-color: rgba(62, 52, 196, 0.178);
	padding: 1rem;
	width: 7rem;
	float: right;
}

footer a:hover {
	color: black;
	outline: 0.3rem solid black;
	offset: 3rem;
}

/* end of footer style */
